body {
    box-sizing: border-box;
    background: green;
}

#container {
    display: flex;
    flex-direction: column;
	justify-content: center;
    height: 33vh;
    width: vw;
	padding: 20px;
	color: #fff;
}

#board {
	color: #fff;
    display: flex;
}

#board .cell {
    height: 50px;
    width: 30px;
    text-align: center;
    border: 1px solid white;
}

